<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item" sec:authorize = "hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                <a class="nav-link active" aria-current="page" th:href="@{'/admin'}">
                    <span data-feather="home" class="align-text-bottom"></span>
                    Admin Panel
                </a>
            </li>
            <li class="nav-item" sec:authorize = "hasAnyRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{'/admin-users'}">
                    <span data-feather="users" class="align-text-bottom"></span>
                    Users
                </a>
            </li>
            <li class="nav-item" sec:authorize = "hasAnyRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{'/admin-permissions'}">
                    <span data-feather="key" class="align-text-bottom"></span>
                    Permissions
                </a>
            </li>
            <li class="nav-item" sec:authorize = "hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                <a class="nav-link" th:href="@{'/admin-trips'}">
                    <span data-feather="map" class="align-text-bottom"></span>
                    All trips
                </a>
            </li>
            <li class="nav-item" sec:authorize = "hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                <a class="nav-link" th:href="@{'/admin-places'}">
                    <span data-feather="map-pin" class="align-text-bottom"></span>
                    Places
                </a>
            </li>
            <li class="nav-item" sec:authorize = "hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                <a class="nav-link" th:href="@{'/admin-items'}">
                    <span data-feather="layers" class="align-text-bottom"></span>
                    Items
                </a>
            </li>
            <li class="nav-item" sec:authorize = "hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                <a class="nav-link" th:href="@{'/admin-requests'}">
                    <span data-feather="mail" class="align-text-bottom"></span>
                    Requests
                </a>
            </li>
            <li class="nav-item" sec:authorize = "hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                <a class="nav-link" th:href="@{'/admin-orders'}">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    Orders
                </a>
            </li>
        </ul>
    </div>
</nav>