<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/navbar.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/main.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/footer.css'}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 mx-auto m-0 p-0">
            <div th:replace="~{navbar.html}"></div>
            <div layout:fragment="content"></div>
        </div>
    </div>
</div>
</body>
<script>
    const navBg = document.querySelector('#navbar-bg')
    const navTogg = document.querySelector('.navbar-toggler')
    navTogg.addEventListener('click', function() {
        var isExpanded = document.querySelector('button[aria-expanded]')?.getAttribute('aria-expanded')
        if (isExpanded=='true'){
            navBg.style.backgroundColor = `rgb(43, 43, 48)`
        }else if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
            navBg.style.backgroundColor = `rgb(43, 43, 48)`
        }
        else{
            navBg.style.backgroundColor = `#ffffff00`
        }
    });

    // When the user scrolls down 50px from the top of the document, resize the header's font size
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        var isExpanded = document.querySelector('button[aria-expanded]')?.getAttribute('aria-expanded')
        if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
            navBg.style.backgroundColor = `rgb(43, 43, 48)` //rgb(251, 251, 251)
        } else if(isExpanded=='true'){
            navBg.style.backgroundColor = `rgb(43, 43, 48)`
        } else {
            navBg.style.backgroundColor = `#ffffff00`
        }
    }
</script>
<script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
</html>