<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>EcoTravel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/navbar.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/main.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/footer.css'}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 mx-auto m-0 p-0">
            <div th:replace="~{navbar.html}"></div>
            <div layout:fragment="content"></div>
            <div th:replace="~{footer.html}"></div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{'/js/bootstrap.bundle.min.js'}"></script>

<script type="text/javascript" th:src="@{'/handlebars-v4.7.7.js'}"></script>
<script type="text/javascript" th:src="@{'/main.js'}"></script>
</html>