<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">

    <div layout:fragment="content">
        <header class="header home-header">
            <p class="text-white">Individual tours Almaty</p>
            <p class="text-white mt-5">The best tours in Almaty and Almaty region. We will make your holiday memorable</p>
            <a href="#" class="btn btn-lg text-white fw-bold py-3 px-5 mt-5 rounded-5" style="background-color: rgb(24, 178, 255); font-size: 1rem;">Choose tour</a>
            <div class="cover"></div>
        </header>

        <main class="search-tours my-5">
            <div class="row mb-2 mx-0">
                <div class="col-xxl-10 col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 mx-auto border pt-2 pb-4">
                    <form id="searchForm" th:action="@{'/search'}" method="get">
                        <div class="row d-flex align-items-end justify-content-center">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-10 col-11">
                                <input type="text" class="form-control py-3 rounded-5 ps-4 mt-3" placeholder="Search..." th:value="${param.key}" name="key" required>
                            </div>
                            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-7 col-8">
                                <p class="fw-bold text-center mt-4">Sort by duration in:</p>
                                <select name="order" id="" class="form-select w-75 mx-auto py-2">
                                    <option value="asc" class="text-center">ascending order</option>
                                    <option value="desc" class="text-center">descending order</option>
                                </select>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-10 col-sm-12 col-12 d-flex justify-content-center mx-3 mt-3">
                                <button class="btn btn-success py-2 mt-4 mx-auto col-xxl-12 col-xl-12 col-lg-12 col-md-3 col-sm-4 col-4">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mb-3 mx-0">
                <h1 class="fs-2 fw-semibold text-center my-5">Search results</h1>
                <hr class="col-12 mx-auto w-50 mb-5">
            </div>
            <div class="row justify-content-around px-5 mx-0">
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-5" th:each="t : ${tours}">
                    <div class="card shadow-lg" style="width: 24rem;">
                        <img th:src="${t.picture}" class="card-img-top" alt="...">
                        <div class="card-body py-4">
                            <h5 class="card-title fw-semibold" th:text="${t.nickname}"></h5>
                            <p class="card-text fw-light">
                                Tour for
                                <span th:text="${t.duration}"></span>
                                <span th:text="${t.daysHours}">days</span> -
                                <span th:each="p, iStat:${t.placesShort}">
                                    <span th:text="(!${iStat.last} ? ${p.name} + ',' : ${p.name})">,</span>
                                </span>
                            </p>
                            <a th:href="@{'/tour/'+${t.id}}" class="btn text-white fw-bold py-2 px-5" style="background-color: rgb(24, 178, 255); font-size: 0.9rem;">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</html>